*{
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    background-color: aliceblue;
    height: 60px;
    width: 99%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
}
.header__logo{
    height: 100%;
    position: relative;
    left: 100px;
}
.logo{
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nav{
    position: absolute;
    right: 50px;
    height: 100%;
}
.nav ul{
    display: flex;
    list-style: none;
    height: 100%;
}
.nav-item{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item:hover{
    height: 40px;
    margin-top: 20px;
    background-color: #dbc627;
    border-radius: 5px 5px 0px 0px;
}
.nav-item.active, .active:hover{
    height: 40px;
    margin-top: 20px;
    background-color: #ecd523;
    border-radius: 5px 5px 0px 0px;
}
.nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 550;
    border-bottom: 1px solid black;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    /* Add your responsive styles here */
}

